body {
  width: 100%;
  background-color: #404040;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 60px;
  color: #b3d1ff;
}

.game {
  display: flex;
  border: solid 1px #b3d1ff;
  padding: 30px 60px;
  margin: auto;
  align-items: center;
  width: 550px;
}

.game .board {
  position: relative;
  width: 300px;
  height: 300px;
  margin-left: 30px;
}

.game .board .piece {
  position: absolute;
  width: 50%;
  height: 50%;
  transition:background-color 0.2s ease-in-out;
  cursor: pointer;
}

.game .board #green {
  top: 0;
  left: 0;
  background-color: #009926;
  border: solid 3px #404040;
  border-radius: 100% 0 0 0;
}

.game .board #green:hover {
  background-color: #33ff66;
}

.game .board #red {
  top: 0;
  right: 0;
  background-color: #ff0000;
  border: solid 3px #404040;
  border-radius: 0 100% 0 0;
}

.game .board #red:hover {
  background-color: #ff6666;
}

.game .board #yellow {
  bottom: 0;
  left: 0;
  background-color: #ffff00;
  border: solid 3px #404040;
  border-radius: 0 0 0 100%;
}

.game .board #yellow:hover {
  background-color: #ffff66;
}

.game .board #blue {
  bottom: 0;
  right: 0;
  background-color: #002699;
  border: solid 3px #404040;
  border-radius: 0 0 100% 0;
}

.game .board #blue:hover {
  background-color: #809fff;
}

.game .board .counter {
	width: 40%;
	height: 40%;
	background-color: #fff;
	position: absolute;
	top: 30%;
	left: 30%;
	border-radius: 50%;
	pointer-events: none;
  text-align: center;
  line-height: 120px;
  background-color: #404040;
}

.game .board .counter #count {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 50px;
  color: #b3d1ff;
}

.game .settings {
  margin-left: 20px;
}

.game .settings button {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 20px 10px 20px;
  width: 100px;
  background-color: #404040;
  border-color: #b3d1ff;
  border-radius: 10px;
  color: #b3d1ff;
  font-weight: 800;
}

.game .settings button:hover {
  background-color: #b3d1ff;
  transition: 0.5s;
  color: #000;
  cursor: pointer;
}

.game .settings button.strict:hover {
  pointer-events: none;
}

.explain {
  color: #fff;
  margin: 20px 60px;
  text-align: center;
  font-weight: 100;
  font-size: 18px;
}

.created-by {
  color: #fff;
  margin-top: 40px;
  text-align: center;
  font-size: 10px;
}

@media screen and (max-width: 450px) {
  .game {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .game .board {
    margin: auto;
  }

  .game .settings {
    display: inline-block;
    margin-top: 40px;
  }

  .game .settings button {
    display: inline-block;
  }

  .explain {
    display: none;
  }
}
